@import "vars"; // Імпортуємо в головний файл наші допоміжні файли
@import "fonts";
@import "reset";
@import "global";

/*-------------------------- HEADER  --------------------------*/

.header {
    
    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
    }
    &__logo-link {
        position: absolute;
        left: 0;
        margin: 0 80px;
        display: block;
    }
    &__btn {
        position: absolute;
        right: 0;
        margin-right: 40px;
        padding: 13px 22px;
        line-height: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: #f7941e;
        border: 1px solid #f7941e;
        border-radius: 5px;
        transition: all 0.3s;
    }
    &__btn:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #f7941e;
        border-radius: 5px;
    }
    &__burger {
        display: none;
    }
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
}

.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu__item {
    margin-left: 31px;
}
.menu__item:first-child {
    margin-left: 0;
}

.menu__list-link {
    color: #000;
    line-height: 22px;
    font-weight: 500;
    transition: all 0.2s;
}

.menu__list-link:hover {
    color: #f7941e;
}

/*-------------------------- INTRO  --------------------------*/

.intro {
    background: #f1f1f2;
    padding-top: 115px;
    &__inner-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content-top {
        max-width: 410px;
        margin: 0 auto;
    }
    &__title-top {
        font-size: 56px;
        line-height: 69px;
        padding-bottom: 36px;
    }
    &__text-top {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 55px;
    }
    &__inner-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content-bottom {
        max-width: 410px;
        margin: 0 auto;
    }
    &__title-bottom {
        font-size: 32px;
        line-height: 45px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    &__text-bottom {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 40px;
    }
}

.page__btn-top {
    padding: 18px 32px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f1f1f2;
    background-color: #f7941e;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.page__btn-top:hover {
    color: #f7941e;
    border: 1px solid #f7941e;
    background-color: #f1f1f2;
    border-radius: 5px;
}

.page__btn-bottom {
    padding: 18px 43px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f7941e;
    border: 1px solid #f7941e;
    border-radius: 5px;
    transition: all 0.3s;
}

.page__btn-bottom:hover {
    color: #f1f1f2;
    border: 1px solid #f1f1f2;
    background-color: #f7941e;
    border-radius: 5px;
}

/*-------------------------- POSTS  --------------------------*/

.posts {
    padding: 100px 0 140px 0;
    &__title {
        font-size: 32px;
        line-height: 38px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 23px;
    }
    &__text {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 65px;
    }
    &__card {
        display: flex;
        justify-content: center;
    }
}

.card__item {
    height: 440px;
    margin: 0 15px;
    background: #fafafa;
    transition: all 0.2s;
}

.card__item:hover {
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card__img {
    padding-bottom: 10px;
}

.card__title {
    margin: 0 24px;
    padding-bottom: 70px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.card__btn {
    margin: 0 24px;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    font-weight: 500;
    transition: all 0.2s;
}

.card__btn:hover {
    color: #f7941e;
}

/*-------------------------- ACTION  --------------------------*/

.action {
    background: #f7941e;
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__title {
        font-size: 32px;
        line-height: 45px;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 32px;
        line-height: 45px;
        font-weight: 500;
    }
    &__btn {
        padding: 15px 40px;
        margin-right: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #fff;
        background-color: #231f20;
        border: 1px solid #231f20;
        border-radius: 5px;
        transition: all 0.3s;
    }
    &__btn:hover {
        color: #231f20;
        border: 1px solid #231f20;
        background-color: #f7941e;
        border-radius: 5px;
    }
}
.action__btn:last-child {
    margin-right: 0;
}

/*-------------------------- BLOG  --------------------------*/

.blog {
    padding: 65px 0 40px 0;
    &__title {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        padding-bottom: 25px;
    }
    &__text {
        line-height: 24px;
        text-align: center;
        padding-bottom: 70px;
    }
    &__card {
        background: #231f20;
        max-width: 1170px;
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
    }
    &__card-content {
        padding: 65px 0 65px 80px;
    }
    &__card-author {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        padding-bottom: 25px;
    }
    &__card-title {
        font-size: 48px;
        line-height: 57px;
        color: #fff;
        max-width: 500px;
        padding-bottom: 60px;
    }
    &__card-btn {
        line-height: 25px;
        color: #fff;
        transition: all 0.2s;
    }
    &__card-btn:hover {
        color: #f7941e;
    }
}

/*-------------------------- OFFER  --------------------------*/

.offer {
    padding-bottom: 80px;
    &__inner {
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__card {
        padding: 48px;
        width: 570px;
        height: 290px;
        transition: all 0.2s;
    }
    &__card:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__card-title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        padding-bottom: 15px;
    }
    &__card-text {
        line-height: 25px;
        padding-bottom: 15px;
    }
    &__card-btn {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #000;
        transition: all 0.2s;
    }
    &__card-btn:hover {
        color: #f7941e;
    }
}

/*-------------------------- OFFER  --------------------------*/

.footer {
    background: #fafafa;
    &__inner {
        height: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    &__nav-link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #000;
        margin: 0 40px;
        transition: all 0.2s;
    }
    &__nav-link:hover {
        color: #f7941e;
    }
    &__nav-logo {
        margin: 0 60px;
    }
    &__line {
        height: 1px;
        max-width: 1000px;
        background: #000;
        margin-bottom: 55px;
    }
}

.social__list {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}


@import "media";
