<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Gift Store</title>
</head>

<body id="home">

    <header class="header">
        <div class="container">

            <div class="header__inner">
                <a class="header__logo-link" href="#home"><img class="header__img" src="images/logo.svg" alt="logo"></a>
                <nav class="header__menu">
                    <button class="header__burger">
                        <span></span>
                    </button>
                    <ul class="menu__list">
                        <li class="menu__item"><a class="menu__list-link" href="#home">Home</a></li>
                        <li class="menu__item"><a class="menu__list-link" href="#intro">About Us</a></li>
                        <li class="menu__item"><a class="menu__list-link" href="#posts">Services</a></li>
                        <li class="menu__item"><a class="menu__list-link" href="#blog">Blogs</a></li>
                    </ul>
                </nav>
                <a class="header__btn" href="#finder">Gift finder</a>

            </div>

        </div>
    </header>

    <main class="main">